<%= form_for @document do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p>
    <%= f.file_field :project_doc %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
