<% provide(:title, 'New Project') %>

<h2>Create New Project</h2>

<%= form_for @project do |f| %>
  <%= render 'shared/error_messages', object: @project %>	

<div class="well" style="width:960px;margin: 0px auto">
	<div class="row-fluid">
			<div class="span6">	
			    <%= f.label :issue_bid_docs, "Issue Bid Documents" %> <br />
			    <%= f.text_field :issue_bid_docs, :style => "width:135px" %>
			</div>
			<div class="span6">
			    <%= f.label :submit_contract_amount, "Submit Contract Amount" %> <br />
			    <%= f.text_field :submit_contract_amount, :style => "width:135px" %>
			</div>		
	</div>		
	<hr>	
	<div class="row-fluid">
			<div class="span6">	
			    <%= f.label :contract_award, "Notice to Proceed" %> <br />
			    <%= f.text_field :contract_award, :style => "width:135px" %>
			</div>
			<div class="span6">
			    <%= f.label :construction_start, "Construction Start" %> <br />
			    <%= f.text_field :construction_start, :style => "width:135px" %>
			</div>		
	</div>
	<hr>
	<div class="row-fluid">
			<div class="span6">	
			    <%= f.label :construction_finish, "Construction Finish" %> <br />
			    <%= f.text_field :construction_finish, :style => "width:135px" %>
			</div>
			<div class="span6">

			</div>		
	</div>	
	<hr>
	
	<%= f.fields_for :milestones do |builder| %>
		<%= render "milestone_fields", :f => builder %>
	<% end %>
	<h3 style="text-align:center"><strong><%= link_to_add_fields raw("<i class='icon-plus'></i> Add Milestone"), f, :milestones %></strong></h3>

	<div class="row-fluid">
		<div id="loading">
		    <div id="loadingcontent">
		        <p id="loadingspinner">
		            Updating Schedule...
		        </p>
		    </div>
		</div>
		<%= button_tag(type: 'submit', class: "btn btn-large btn-primary right", :id => "submitbtn", style: "margin-top:0px") do %>
		 <i class="icon-edit icon-white"></i> Update Schedule
		<% end %>
		<% end %>	
	<br>
	</div>
</div>

<script type="text/javascript">	
	$("[id~='project_issue_bid_docs']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">	
	$("[id~='project_submit_contract_amount']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">	
	$("[id~='project_contract_award']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">	
	$("[id~='project_construction_start']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">	
	$("[id~='project_construction_finish']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 15, // The number of lines to draw
                length: 27, // The length of each line
                width: 5, // The line thickness
                radius: 20, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>