<% provide(:title, 'New Project') %>

<h2>Create New Project</h2>

<%= form_for @project do |f| %>
  <%= render 'shared/error_messages', object: @project %>	

<div class="well" style="width:960px;margin: 0px auto">
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">	
    			<%= f.label :name, "Name (required)"%><br />
    			<%= f.text_field :name, :style => "width:400px;border-color:red;"  %> <br />
				<%= f.label :address, "Street Address (required)" %> <br />
			    <%= f.text_field :address, :style => "width:400px;border-color:red;" %> <br />
				<%= f.label :location, "Floor(s), suite number, etc..." %> <br />
			    <%= f.text_field :location, :style => "width:400px"  %> <br />
			</div>
			<div class="span6">
				<%= f.label :description  %><br>
				<div style="background:white;width:400px">
				<%= f.text_area :description, :size => "40x5", :style => "width:400px" %>
				</div>
				<p class="muted">Architectural features, project challenges, site logistics, schedule requirements, etc...</p>
			</div>
		</div>
	</div>			

	<div class="fields">
		<div class="row-fluid">
			<div class="span12">
				<div class="span6">	
				    <%= f.label :construction_start, "Construction Start" %> <br />
				    <%= f.text_field :construction_start, :style => "width:135px" %>
				</div>
				<div class="span6">
					<%= f.label :construction_finish %> <br />
				    <%= f.text_field :construction_finish, :style => "width:135px" %>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h3 style="text-align:center">Team Members</h3>
		
	<%= f.fields_for :memberships do |builder| %>
		<%= render "membership_fields", :f => builder %>
	<% end %>
	<h3 style="text-align:center"><strong><%= link_to_add_fields raw("<i class='icon-plus'></i> Add Team Member"), f, :memberships %></strong></h3>
	<hr>
	<br>
	<div class="row-fluid">
		<div id="loading">
		    <div id="loadingcontent">
		        <p id="loadingspinner">
		            Updating Project...
		        </p>
		    </div>
		</div>
		<%= link_to raw("<i class='icon-retweet icon-white'></i> Generate New Privatelink"), {:controller => :projects,
		      :action => 'reset_privatelink' }, :method => :get, :id => "downloadbutton", :class => "btn btn-small left", :style => "letter-spacing:1px;font-size:14px" %>
		<%= button_tag(type: 'submit', class: "btn btn-large btn-primary right", :id => "submitbtn", style: "margin-top:0px") do %>
		 <i class="icon-edit icon-white"></i> Update Project
		<% end %>
		<% end %>	
	<br>
	</div>
</div>

<script type="text/javascript">	
	$("[id~='project_construction_start']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">	
	$("[id~='project_construction_finish']").datepicker({
		"format": "yyyy-mm-dd",
	    "weekStart": 1,
	    "autoclose": true
	});	
</script>

<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 15, // The number of lines to draw
                length: 27, // The length of each line
                width: 5, // The line thickness
                radius: 20, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>