<h2><%= t 'devise.invitations.edit.header' %></h2>
<div class="formcenter">
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

 <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>
  
   <%= f.label :email %><br />	
   <%= f.text_field :email, :readonly => true %>
  
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <div><%= f.label :image %> <i>(Profile Picture)</i><br />
	<% if resource.image? %>
	<%= image_tag(resource.image_url(:medium), :width => 125, :height => 125, :style => "background:lightgray; padding:2px;margin-bottom:10px").to_s %><br>
	<% else %>
	 <i class="icon-user" style="color:gray;font-size:40px"></i>	
	<% end %>
  <%= f.file_field :image %></div>

  <p><%= check_box("user", "tos") %> Agree to the <%= link_to "Terms of Service", "/terms_of_service", :target => "_blank" %></p>

  <div><%= f.submit "Set my password", class: "btn btn-large btn-primary" %></div>
<% end %>
</div>