<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">	
		<div class="container-fluid">
			<%= link_to image_tag("logo.png"), root_path, id: "logo"%>
						<% if signed_in? %>						
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<% if current_user.image? %>
					<%= image_tag(current_user.image_url(:tiny), :width => 34, :height => 34, :style => "background:white;padding:2px; margin:0px").to_s %>
					<% else %>
					<%= image_tag('user.png', :width => 34, :height => 34, :style => "background:white;padding:2px; margin:0px").to_s %>
					<% end %>
				</a>							
				<div class="nav-collapse">	
					<ul class="nav pull-right">
						
						<% if params[:controller] == "projects" && params[:action] == "show" %>
						<li class="divider-vertical"></li>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<row><i class="icon-edit"></i> Edit Project</row>
								<b class="caret"></b>	
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to '<i class="icon-edit"></i> Info'.html_safe, edit_project_path %></li>
								<li><%= link_to '<i class="icon-group"></i> Directory'.html_safe, edit_directory_project_path %></li>								
								<li><%= link_to '<i class="icon-calendar"></i> Schedule'.html_safe, edit_schedule_project_path %></li>																	
								<li><%= link_to '<i class="icon-laptop"></i> Model'.html_safe, edit_model_project_path %></li>
								<li><%= link_to '<i class="icon-file"></i> Drawings'.html_safe, edit_drawings_project_path %></li>
								<li><%= link_to '<i class="icon-building"></i> Site'.html_safe, edit_site_project_path %></li>
								<li><%= link_to '<i class="icon-bar-chart"></i> Estimate'.html_safe, edit_estimate_project_path %></li>																	
								<li><%= link_to '<i class="icon-truck"></i> Procurement'.html_safe, edit_procurement_project_path %></li>
								<li><%= link_to '<i class="icon-exchange"></i> Submittals'.html_safe, edit_submittals_project_path %></li>
								<li><%= link_to '<i class="icon-lightbulb"></i> RFIs'.html_safe, edit_rfis_project_path %></li>
								<li><%= link_to '<i class="icon-warning-sign"></i> PCOs'.html_safe, edit_pcos_project_path %></li>																																														
							</ul>
							<li>
							<% else %>
							<% end %>						
							<li class="divider-vertical"></li>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<row>
										<% if current_user.image? %>
											<%= image_tag(current_user.image_url(:tiny), :width => 34, :height => 34, :style => "background:white; padding:2px").to_s %> <%= current_user.first_name %>
										<% else %>
											<%= image_tag('user.png', :width => 34, :height => 34, :style => "background:white; padding:2px").to_s %> <%= current_user.first_name %>
										<% end %>
									</row>
									<b class="caret"></b>	
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to '<i class="icon-pencil"></i> New Project'.html_safe, new_project_path %></li>		
									<li><%= link_to '<i class="icon-th-list"></i> Existing Projects'.html_safe, projects_path %></li>						
									<li class="divider"></li>	
									<li><%= link_to '<i class="icon-user"></i> My Settings'.html_safe, edit_user_registration_path %></li>																											
									<li><%= link_to '<i class="icon-off"></i> Sign out'.html_safe, destroy_user_session_path, method: :delete %></li>	
								</ul>
								<li><div class="navprofilepic"></div></li>
						<% else %>
											<ul class="nav pull-right">
						<li><%= link_to '<i class="icon-signin"></i> Sign In'.html_safe, 	new_user_session_path %></li>
						<% end %>

				</ul>
			</div>
		</div>	
	</div>
</header>